.container 
    margin: auto 0
    width: 100%
    
    
.block
    animation-name: Show
    animation-duration: 2s 
    animation-delay: 1s
    animation-direction: reverse
.row
    margin: 0
    height: auto
    display: flex
    justify-content: space-between
    align-items: flex-start
    widht: 100%    
    border: 1px #935 solid
    &_types
        min-height: 614px
        padding: 0 7%


.col
    &--30
        max-widht: 30%
        margin: 0 auto
        
    &-50
        width: 50%
