@media screen and (max-width: 1200px)
    html
        font-size: 12px
    .nav
        &_item
            margin-right: 1rem

@media screen and (max-width: 992px)
    .nav
        display: none
    .hero
        &_instagram
            display: none
        &_content
            margin-left: 0

@media screen and (max-width: 570px)
    .contacts
        &_button
            display: none
        &_phone
            margin-right: 0
            color: $light
            text-decoration: none
    .title
        font-size: 1.64rem
    .hero
        &_scroll-down
            display: none
        &_content
            min-width: 22.86rem
        &_text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &_button
            display: block
            min-width: 26.66rem
            margin-bottom: 1.85rem

@media screen and (max-height: 515px)
    .hero
        &_scroll-down
            display: none



