@media screen and (max-width: 1500px)
    .contacts
        &_button
            margin-right: 1.5rem

@media screen and (max-width: 1260px)
    html
        font-size: 13px
    .menu
        margin-left: -1rem
        &_logo
            margin-right: 3rem

@media screen and (max-width: 1200px)
    html
        font-size: 12px
        
    .menu
        width: 100%
        margin-left: -5%
        font-size: 1rem        
        &_logo
            margin-right: 2rem
            
    .hero
        &_instagram
            max-width: 3rem  
    

        &_item
            margin-right: 
            margin-left: 0
    .contacts
        margin-left: 
        padding: 0 auto
        &_phone
            margin-left: 
        &_button
            &--primary
                font-size: 1rem


@media screen and (max-width: 1060px)
    .menu
        font-size: 0.95rem
    .contacts
        &_phone
            margin-right: 0.5rem
        &_button
            margin-right: 1rem


@media screen and (max-width: 992px)
    .nav
        display: none 
    .hero
        &_instagram
            display: none
        &_content
            margin-left: 
        &_scroll-down
            min-width: 15rem
            min-height: 5rem

    .contacts
        &_phone
            margin-right: 1rem
            color: $light
            text-decoration: none
    .menu
        &_logo
            margin-left: 6.75rem
            margin-right: 0.5rem
    .contacts
        &_button
            max-widht: 70px
            font-size: 0.8rem

@media screen and (max-width: 570px)
    .header        
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 48px

    .contacts
        &_button
            display: none
        &_phone
            margin-right: 1rem
            color: $light
            text-decoration: none
    .title
        font-size: 1.64rem
        line-height: 132%
        margin-bottom: 1.3rem
    .container
        margin-left: 1rem
    .hero
        height: auto
        &_scroll-down
            display: none
        &_content
            width: 90%
            margin-left: 1rem
            padding-left: 0
        &_title
            width: 100%
            font-size: 1.93rem
            margin-bottom: 16px
            margin-top: 49px
        &_text
            font-size: 1.5rem
            margin-bottom: 2.66rem
            width: 95%
            line-height: 135%
        &_button
            display: block
            margin-bottom: 2.16rem
            font-size: 1.084rem
            min-height: 4.25rem
            min-width: 250px
                
    .menu
        margin-left: 1.1rem
        font-weight: 500
        &_logo
            margin-right: 2rem
            margin-left: 0
        &_phone
            margin-left: 0

@media screen and (max-width: 420px)
    .hero
        &_content
            width: 100%
            margin-left: 1rem
            padding-left: 0
        &_title
            width: 100%
            font-size: 1.93rem
            margin-bottom: 16px
            margin-top: 49px
        &_text
            font-size: 1.5rem
            margin-bottom: 2.66rem
            width: 95%
            line-height: 135%
        &_button
            display: block
            widht: 100%
 
            
    
@media screen and (max-width: 320px)    
    .header
        display: flex
        justify-content: space-between
        align-items: center   

    .contacts
        &_button
            display: none
        &_phone
            margin-right: 1rem
            color: $light
            text-decoration: none
    .title
        font-size: 1.64rem
        line-height: 132%
        margin-bottom: 1.3rem
    .container
        margin-left: 1rem
    .hero
        height: auto
        &_scroll-down
            display: none
        &_content
            min-width: 97%
            margin-left: 1rem
            padding-left: 0
        &_title
            max-width: 100%
            font-size: 23px
            margin-bottom: 1.33rem
        &_text
            font-size: 1.5rem
            margin-bottom: 2.66rem
            max-width: 100%
            line-height: 135%
        &_button
            display: block
            min-width: 83%
            margin-bottom: 2.16rem
            font-size: 1.1rem
            min-height: 4.25rem
                
    .menu
        margin-left: 1rem
        &_logo
            margin-right: 0
            margin-left: 0
        &_phone
            margin-right: 1rem

@media screen and (max-height: 500px)
    .hero
        &_scroll-down
            display: none

@media screen and (max-height: 750px)
    .hero
        &_scroll-down
            min-width: 15rem
            min-height: 5rem



