*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
img
    max-widht: 100%
body 
    font-family: 'Futura Book', sans-serif
    font-size: 1rem 
    min-width: 320px
.section 
    &-title
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &_image
            display: flex
            align-items: center
            justify-content: center
            &::after, &::before
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0 10px
                

            
            

