.header 
    background-color: $dark
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    margin-right: 0
    padding: 1.9rem 0
    border: 1px yellow solid

.menu
    border: 1px red solid
    display: flex
    justify-content: space-between
    align-items: center
    margin-left: 0
    &_logo
        font-size: 1rem

.logo 
    color: $primary
    text-transform: uppercase
    font-weight: 500
    font-family: 'Futura Demi'
    border: 1px white 
    margin-right: 1rem


.nav 
    display: flex
    justify-content: space-between
    align-items: center
    &_item
        font-family: 'Futura Book'
        text-decoration: none
        color: $light
        text-transform: uppercase
        transition: 0.2s
        margin-right: 2.757rem
        &_one
            color: $primary 
        &:hover
            color: $primary

.phone 
    color: $primary
    font-weight: 500


.contacts
    border: 1px white solid
    margin-left: -4rem
    &_phone
        margin-right: 3rem
    &_button
        &--primary
        font-size: 0.95rem
