.header 
    background-color: $dark
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    display: flex
    justify-content: center
    align-items: center
    min-height: 5.92rem
    padding: 24px 0
        
.container
    max-width: 1438px
.menu
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    font-size: 1rem
    margin-left: -1rem
    &_logo
        margin-right: 5rem


.logo 
    color: $primary
    text-transform: uppercase
    font-weight: 500
    font-family: 'Futura Demi'
    border: 1px white 
    margin-right: 
    max-width: 170px


.nav
    max-widht: 439px
    &_item
        text-decoration: none
        text-transform: uppercase
        margin-right: 1.5rem
        transition: color 0.2s
        font-family: 'Futura Book'
        color: $light
        
        &_one
            color: $primary 
        &:hover
            color: $primary

.phone 
    color: $primary
    font-weight: 500

.contacts
    margin-left: 0.5rem
    &_phone
        margin-right: 3.214rem
    &_button
        &--primary
        font-size: 0.94rem
