.header 
    background-color: $dark
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    border: 1px yellow solid
    padding: 1.71rem 
    
.container 
    width: 85%
    max-width: 1256px
    margin: auto

    
    
.menu
    border: 1px red solid
    display: flex
    justify-content: space-between
    align-items: center
    &_logo
        font-size: 1.075rem

.logo 
    color: $primary
    text-transform: uppercase
    font-weight: 500
    font-family: 'Futura Demi'
    border: 1px white 
    margin-right: 


.nav 
    display: block
    &_item
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 2.5rem;
        transition: color 0.2s;
        font-family: 'Futura Book'
        color: $light
        
        &_one
            color: $primary 
        &:hover
            color: $primary

.phone 
    color: $primary
    font-weight: 500


.contacts
    border: 1px white solid
    margin-left: 
    &_phone
        margin-right: 3.214rem
    &_button
        &--primary
        font-size: 0.95rem
