.types
    widht:
    &_section-title
        margin-bottom: 2rem
.types_card
    height:
    display: flex
    justify-content: space-between
    align-items: stretch

.card
    font-family: 'Yeseva One', cursive
    widht: 
    position: relative
    border: 1px blue solid
    &_image
    &--text
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
        max-widht: 421px
        max-height: 392px
        margin-right: 
        margin-left:
        margin-top: 
        padding: 
        position: absolute
        border: 1px solid grey
        
    &_title
        margin: 0
        text-transform: uppercase
        font-size: 1.29rem
        margin-top: 0
        margin-bottom: 0.8rem
    &_list
        background: #fff
        margin-left: 31px 
        margin-right: 31px 
        margin-top: 294px 
        padding: 
        font-size: 1.07rem
        line-height: 1.79rem
        color: $secondary
        margin-bottom: 
        position: absolute
        max-height: 330px
        max-width: 292px
    &_pricetag
        font-size: 1.79rem
        text-align: center
        text-transform: uppercase
        background-color: $primary
        color: $light
        padding: 17px 2.6rem
        position: absolute
        left: 0
        margin-top: 260px
        



        
        
    
