.types
    border: 1px solid green
    padding: 0 6%
    &_section-title
        margin-bottom: 2rem  


.card
    font-family: 'Yeseva One', cursive
    position: relative
    border: 1px solid grey
    margin-left: 0.757rem
    margin-right: 0.757rem
    min-widht:  
    &--text
        box-shadow: 0.714rem 0.714rem 1.42rem rgba(0, 0, 0, 0.2 )
        margin: -9rem 2.214rem 0    
        padding: 0 2.071rem 0 2.428rem
        position: absolute
        background-color: $light
        border: 1px red solid
        
    &_title
        font-size: 1.29rem       
        font-family: 'Yeseva One', cursive
        margin-top: 1.785rem
        margin-bottom: 
    &_list
        margin-top: 
        margin-left: 0
        padding: 0 1rem 0 1rem
        margin-bottom: 3.5rem
        margin-right: 2.471rem
        font-size: 1.07rem
        line-height: 1.79rem
        color: $secondary
        font-family: 'Futura Book', serif
        

       
    &_pricetag
        font-size: 1.285rem
        text-align: center
        text-transform: uppercase
        background-color: $primary
        color: $light
        padding: 1.214rem 2.857rem
        position: absolute
        left: 0
        bottom: -1.928rem
        margin-top: 
        font-family: 'Yeseva One', cursive
        position: absolute
        font-weight: normal
        border: none

   










        
        
    
